<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-toolbar color="green" dark>
        <v-avatar left :size="50" color="grey lighten-4">
          <img :src="gravatar" alt="gravatar">
        </v-avatar>
        <v-toolbar-title>Profile</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-btn :to="{name: 'CurrentUserShowProfile'}" small icon>
          <v-icon>restore_page</v-icon>
        </v-btn>
      </v-toolbar>

      <current-user-edit-form/>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from "vuex";
import CurrentUserEditForm from "./CurrentUserEditForm.vue";

export default {
  name: "current-user-edit-profile",
  components: {
    CurrentUserEditForm
  },
  data() {
    return {};
  },
  computed: {
    ...mapState("currentUser", {
      gravatar: state => state.data.attributes.gravatar
    })
  }
};
</script>

<style lang="scss" scoped>
</style>
