<template>
  <v-form>
    <v-card class="mx-auto">
      <v-card-text class>
        <v-layout row wrap>
          <v-flex>
            <v-text-field
              v-model="form.firstName"
              label="First name"
              placeholder="First name"
              required
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex>
            <v-text-field
              v-model="form.lastName"
              label="Last name"
              placeholder="Last name"
              required
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex>
            <v-text-field v-model="form.email" label="Email" placeholder="Email" required></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex>
            <v-text-field
              v-model="form.password"
              type="password"
              label="Current password"
              placeholder="Current password"
              required
            ></v-text-field>
          </v-flex>
        </v-layout>

        <div v-if="setNewPasswordDialog">
          <small>change password</small>

          <v-btn fab small icon @click="setNewPasswordDialog = !setNewPasswordDialog">
            <v-icon>expand_less</v-icon>
          </v-btn>

          <v-layout row wrap>
            <v-flex>
              <v-text-field
                v-model="form.newPassword"
                type="password"
                label="New password"
                placeholder="New password"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex>
              <v-text-field
                v-model="form.newPasswordConfirmation"
                type="password"
                label="New password confrimation"
                placeholder="New password confrimation"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
        </div>
        <div v-else>
          <small>change password</small>
          <v-btn fab small icon @click="setNewPasswordDialog = !setNewPasswordDialog">
            <v-icon>expand_more</v-icon>
          </v-btn>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="submit" icon>
          <v-icon>send</v-icon>
        </v-btn>
        <v-btn @click="clear" icon>
          <v-icon>cached</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "current-user-edit-form",
  data: function() {
    let attributes = this.$store.state.currentUser.data.attributes;
    return {
      form: {
        ...attributes,
        password: null,
        newPassword: null,
        newPasswordConfirmation: null
      },
      setNewPasswordDialog: null
    };
  },
  mounted() {
    this.$store.dispatch("currentUser/getCurrentUserDetails");
  },
  methods: {
    submit() {
      this.$store
        .dispatch({
          type: "currentUser/updateCurrentUserDetails",
          params: this.form,
          success: { message: "User updated" }
        })
        .finally(() => {
          this.form.password = null;
          this.form.newPassword = null;
          this.form.newPasswordConfirmation = null;
        });
    },
    clear() {
      this.form = {
        ...this.attributes,
        password: null,
        newPassword: null,
        newPasswordConfirmation: null
      };
    }
  },
  computed: {
    ...mapState("currentUser", {
      attributes: state => state.data.attributes
    })
  }
};
</script>

<style lang="scss" scoped>
</style>
