<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-toolbar color="green" dark>
        <v-avatar left :size="50" color="grey lighten-4">
          <img :src="gravatar" alt="gravatar">
        </v-avatar>

        <v-toolbar-title>Profile</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-btn icon :to="{name: 'CurrentUserEditProfile'}">
          <v-icon>edit</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card class="mx-auto">
        <v-card-text>
          <v-layout row wrap>
            <v-flex>
              <div class="attribute-field">
                <div class="label">First name</div>
                <div class="value">{{ firstName }}</div>
                <div class="details"></div>
              </div>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex>
              <div class="attribute-field">
                <div class="label">Last name</div>
                <div class="value">{{ lastName }}</div>
                <div class="details"></div>
              </div>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex>
              <div class="attribute-field">
                <div class="label">Email</div>
                <div class="value">{{ email }}</div>
                <div class="details"></div>
              </div>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions></v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "current-ser-show-profile",
  data() {
    return {};
  },
  mounted() {
    this.$store.dispatch("currentUser/getCurrentUserDetails");
  },
  computed: {
    ...mapState("currentUser", {
      firstName: state => state.data.attributes.firstName,
      lastName: state => state.data.attributes.lastName,
      email: state => state.data.attributes.email,
      gravatar: state => state.data.attributes.gravatar
    })
  }
};
</script>

<style lang="scss" scoped>
.attribute-field {
  position: relative;
  .label {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    left: 0;
    color: hsla(0, 0%, 100%, 0.7);
  }
  .value {
    margin: 2px 0 0 0;
    padding-bottom: 4px;
    padding-top: 18px;
    font-size: 16px;
  }
  .details {
    margin-top: 8px;
    min-height: 12px;
  }
}
</style>
