<template>
  <form>
    <v-text-field v-model.trim="email" @keyup="validateForm" label="E-mail" required></v-text-field>
    <v-text-field
      v-model="password"
      @keyup="validateForm"
      :type="'password'"
      label="Password"
      required
    ></v-text-field>
    <v-btn @click="submit">Log In</v-btn>
    <v-btn class="secondary" :to="{name: 'SignUp'}">Sign Up</v-btn>
  </form>
</template>

<script>
import CurrentUserApi from "./../../backend/api/currentUser";

export default {
  name: "user-signin",
  mounted() {},
  data() {
    return {
      email: null,
      password: null
    };
  },
  methods: {
    submit: function() {
      CurrentUserApi.signIn(this.params)
        .then(data => {
          this.$store.commit("currentUser/setCurrentUser", data.data);
          this.$router.push("/");
        })
        .catch(error => {
          this.$store.commit("currentUser/unsetCurrentUser");
        });
    },
    clear: function() {
      this.email = null;
      this.password = null;
    },
    validateForm: function(e) {
      if (e.keyCode === 13) {
        this.submit();
      }
    }
  },
  computed: {
    params: function() {
      return {
        email: this.email,
        password: this.password
      };
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
