<template>
  <form>
    <v-text-field v-model.trim="firstName" @keyup="validateForm" label="First name" required></v-text-field>
    <v-text-field v-model.trim="lastName" @keyup="validateForm" label="Last name" required></v-text-field>
    <v-text-field v-model.trim="email" @keyup="validateForm" label="E-mail" required></v-text-field>
    <v-text-field
      v-model="password"
      @keyup="validateForm"
      :type="'password'"
      label="Password"
      required
    ></v-text-field>

    <v-text-field
      v-model="passwordConfirmation"
      @keyup="validateForm"
      :type="'password'"
      label="Password confirmation"
      required
    ></v-text-field>

    <v-btn @click="submit">Create account</v-btn>
    <v-btn class="secondary" :to="{name: 'SignIn'}">Log in</v-btn>
  </form>
</template>

<script>
import CurrentUserApi from "./../../backend/api/currentUser";

export default {
  name: "user-signup",
  data() {
    return {
      email: null,
      firstName: null,
      lastName: null,
      password: null,
      passwordConfirmation: null
    };
  },
  methods: {
    submit: function() {
      CurrentUserApi.signUp(this.params)
        .then(data => {
          this.$store.commit("currentUser/setCurrentUser", data.data);
          this.$router.push("/");
        })
        .catch(error => {
          this.$store.commit("currentUser/unsetCurrentUser");
        });
    },
    clear: function() {
      this.firstName = null;
      this.lastName = null;
      this.email = null;
      this.password = null;
    },
    validateForm: function(e) {
      if (e.keyCode === 13) {
        this.submit();
      }
    }
  },
  computed: {
    params: function() {
      return {
        email: this.email,
        first_name: this.firstName,
        last_name: this.lastName,
        password: this.password,
        password_confirmation: this.passwordConfirmation
      };
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
