<template>
  <div>
    <v-alert :value="true" color="error" type="error" v-model="errors.show" dismissible>
      {{errors.message}}
      <ul>
        <li v-for="(msg, index) in errors.messages" :key="index">{{msg}}</li>
      </ul>
    </v-alert>
    <v-alert :value="true" color="success" type="success" v-model="success.show" dismissible>
      {{success.message}}
      <ul>
        <li v-for="(msg, index) in success.messages" :key="index">{{msg}}</li>
      </ul>
    </v-alert>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "shared-errors",
  data() {
    return {};
  },
  created() {
    this.$store.dispatch("notifications/clearState");
  },
  methods: {
    clearErrors: function() {
      this.$store.dispatch("notifications/clearErrors");
    },
    clearErrors: function() {
      this.$store.dispatch("notifications/clearSuccess");
    }
  },
  computed: {
    ...mapState("notifications", {
      errors: state => state.errors,
      success: state => state.success
    })
  },
  watch: {
    $route(to, from) {
      this.$store.dispatch("notifications/clearState");
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
