<template>
  <div>
    <v-data-table
      :items="users"
      :headers="headers"
      :loading="loading"
      :pagination.sync="pagination"
      :total-items="totalItems"
      :rows-per-page-items="[5,10,20]"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props" v-if="!loading">
        <td>
          <v-avatar :size="25">
            <img :src="props.item.attributes.gravatar" alt="gravatar">
          </v-avatar>
        </td>
        <td>{{ props.item.attributes.firstName }}</td>
        <td>{{ props.item.attributes.lastName }}</td>
        <td>{{ props.item.attributes.email }}</td>
        <td class="justify-end layout px-5">
          <v-icon small @click="openUserEditModal(props.item.id)">edit</v-icon>
        </td>
      </template>

      <template slot="no-data" v-if="!loading">
        <v-alert :value="true" color="error" icon="warning">Loading</v-alert>
      </template>
    </v-data-table>

    <v-dialog v-model="openedUserEditModal" width="50%">
      <v-toolbar color="green" dark>
        <v-icon left large>account_circle</v-icon>

        <v-toolbar-title>Edit User</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-btn small icon @click="openedUserEditModal = false;">
          <v-icon>close</v-icon>
        </v-btn>
      </v-toolbar>

      <current-user-edit-form v-if="userToEditIsCurrent"/>
      <user-edit-form :initial-user="userToEdit" v-else></user-edit-form>
    </v-dialog>
  </div>
</template>

<script>
import UserEditForm from "./UserEditForm.vue";
import CurrentUserEditForm from "./../currentUser/CurrentUserEditForm.vue";

import { mapState } from "vuex";

export default {
  name: "user-table",
  components: {
    UserEditForm,
    CurrentUserEditForm
  },
  data() {
    return {
      pagination: {},
      totalItems: 0,
      headers: [
        {
          text: "First Name",
          value: "first_name",
          sortable: true,
          align: "left"
        },
        {
          text: "Last name",
          value: "last_name",
          sortable: true,
          align: "left"
        },
        { text: "E-mail", value: "email", sortable: true, align: "left" },
        { text: "Actions", sortable: false, align: "right" },
        { text: "", sortable: false, align: "" }
      ],
      openedUserEditModal: false,
      userToEdit: {}
    };
  },
  mounted() {
    this.$store.dispatch("users/getAllUsers", { pagination: this.pagination });
  },
  watch: {
    pagination: {
      handler() {
        this.$store
          .dispatch("users/getAllUsers", {
            pagination: this.pagination
          })
          .then(response => {
            this.totalItems = response.pagination.totalItems;
          });
      },
      deep: true
    }
  },
  methods: {
    openUserEditModal(id) {
      this.openedUserEditModal = true;
      this.userToEdit = this.users.find(el => el.id === id);
    }
  },
  computed: {
    ...mapState("users", {
      users: state => state.users
    }),
    ...mapState("currentUser", {
      currentUserId: state => state.data.id
    }),
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;
      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    },
    loading() {
      return !Array.isArray(this.users) || !this.users.length;
    },
    userToEditIsCurrent() {
      return this.userToEdit.id === this.currentUserId;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
