<template>
  <v-form>
    <v-card class="mx-auto">
      <v-card-text class>
        <v-layout row wrap>
          <v-flex>
            <v-text-field
              v-model="editedUserAttributes.firstName"
              label="First name"
              placeholder="First name"
              required
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex>
            <v-text-field
              v-model="editedUserAttributes.lastName"
              label="Last name"
              placeholder="Last name"
              required
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex>
            <v-text-field
              v-model="editedUserAttributes.email"
              label="Email"
              placeholder="Email"
              required
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="submit" icon>
          <v-icon>send</v-icon>
        </v-btn>
        <v-btn @click="clear" icon>
          <v-icon>cached</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script>
export default {
  name: "user-edit",
  props: {
    initialUser: {
      type: Object
    }
  },
  data() {
    return {
      editedUserAttributes: { firstName: "", lastName: "", email: "" }
    };
  },
  watch: {
    initialUser: function(newinitialUser, oldinitialUser) {
      this.editedUserAttributes = Object.assign({}, newinitialUser.attributes);
    }
  },
  methods: {
    submit() {
      this.$store.dispatch("users/updateUser", {
        id: this.initialUser.id,
        params: this.editedUserAttributes,
        success: {
          message: "User " + this.editedUserAttributes.email + " updated"
        }
      });
    },
    clear() {
      this.editedUserAttributes = Object.assign(
        {},
        this.initialUser.attributes
      );
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
