<template>
  <v-layout wrap>
    <v-navigation-drawer v-model="navigationDrawerOpen" temporary absolute>
      <TheNavigation/>
    </v-navigation-drawer>

    <v-content>
      <v-toolbar>
        <v-toolbar-side-icon @click="navigationDrawerOpen = !navigationDrawerOpen"></v-toolbar-side-icon>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn flat>Link One</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <TheNotifications/>

      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>

    <v-footer app inset height="auto"></v-footer>
  </v-layout>
</template>

<script>
import TheNavigation from "./TheNavigation.vue";
import TheNotifications from "./../shared/TheNotifications.vue";

export default {
  name: "layout",
  components: {
    TheNavigation,
    TheNotifications
  },
  computed: {
    navigationDrawerOpen: {
      get: function() {
        return this.$store.state.navigation.open;
      },
      set: function(newValue) {
        this.$store.commit("navigation/setNavigationOpen", newValue);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
