<template>
  <div>
    <v-list-tile v-if="currentUserSigend">
      <v-list-tile-avatar>
        <img :src="currentUserGravatar">
      </v-list-tile-avatar>
      <v-list-tile-content>
        <v-list-tile-title>{{ currentUserIdent }}</v-list-tile-title>
      </v-list-tile-content>

      <v-list-tile-action>
        <v-btn
          icon
          :to="{ name: 'CurrentUserShowProfile'}"
          active-class="green--text text--lighten-2"
        >
          <v-icon>person</v-icon>
        </v-btn>
      </v-list-tile-action>
    </v-list-tile>

    <v-list-tile v-if="currentUserSigend">
      <v-btn block dense color="red" @click="logOut" dark>Log Out</v-btn>
    </v-list-tile>

    <v-list-tile v-if="!currentUserSigend">
      <v-btn block dense color="green" @click="LogIn" dark>Log In</v-btn>
    </v-list-tile>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "navigation-user-tile",
  computed: {
    ...mapState("currentUser", {
      email: state => state.data.attributes.email,
      currentUserSigend: state => state.signedIn,
      currentUserGravatar: state => state.data.attributes.gravatar
    }),
    currentUserIdent: function() {
      return this.email;
    }
  },
  methods: {
    logOut() {
      this.$store.commit("currentUser/unsetCurrentUser");
      location.replace("/");
    },
    LogIn() {
      this.$router.push({ name: "SignIn" });
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
