<template>
  <div class="navigation">
    <v-list-tile>
      <v-list-tile-content></v-list-tile-content>
      <v-list-tile-action>
        <v-btn icon @click.stop="navigationDrawerOpen = !navigationDrawerOpen">
          <v-icon>chevron_left</v-icon>
        </v-btn>
      </v-list-tile-action>
    </v-list-tile>

    <v-divider></v-divider>

    <v-list class="pt-0" v-if="currentUserSigend">
      <v-list-tile active-class="green--text text--lighten-2" :to="{ name: 'UsersTable' }">
        <v-list-tile-action>
          <v-icon>account_circle</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Users</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    <v-list class="pa-0 navigation-user-tile-wrapper">
      <TheNavigationUserTile/>
    </v-list>
  </div>
</template>

<script>
import TheNavigationUserTile from "./TheNavigationUserTile.vue";
import { mapState } from "vuex";
export default {
  name: "navigation",
  components: {
    TheNavigationUserTile
  },
  computed: {
    ...mapState("currentUser", {
      currentUserSigend: state => state.signedIn
    }),
    navigationDrawerOpen: {
      get: function() {
        return this.$store.state.navigation.open;
      },
      set: function(newValue) {
        this.$store.commit("navigation/setNavigationOpen", newValue);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.navigation-user-tile-wrapper {
  bottom: 0px;
  position: absolute;
  left: 0;
  right: 0;
}
</style>
