<template>
  <v-app dark>
    <the-layout/>
  </v-app>
</template>

<script>
import TheLayout from "./components/navigation/TheLayout.vue";

export default {
  components: {
    TheLayout
  }
};
</script>

<style lang="scss">
</style>
